.App {
  font-size: 14px;
  background: #78A1BB;
  padding: 30px;
  min-height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App header {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.todo-list {
  background: #283044;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
  margin: auto;
}
